.item-details__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.item-details__title span {
    color: #e84118;
}

.item-details__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #353b48;
}


.item-details__item:not(:last-child) {
    margin-bottom: 10px;
}

.item-details__term {
    display: inline-block;
    width: 75px;
    margin-right: 10px;
}

