.header {
    width: 100%;
    height: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
}

.header__title {
    font-weight: 700;
    text-transform: uppercase;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item a {
    padding: 7px 0;
}

.header__item a {
    font-weight: 700;
    transition: all 0.3s linear;
}

.header__item a:hover {
    display: inline-block;
    color: #e84118;
    transform: translateY(-2px);
}

.header__item:not(:last-child) {
    margin-right: 15px;
}
